.header {
  background: #fff;
  border-bottom: 1px solid #dadada;

  .header-logo {
    display: inline-block;
    height: 48px;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    color: white;
  }

  .menu-trigger {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
    font-size: 18px;
    cursor: pointer;
  }

  &.ant-layout-header {
    height: 48px;
    line-height: 48px;
    background: steelblue;
    font-weight: bold;
  }

  .ant-menu {
    height: 48px;
    line-height: 48px;
    border-bottom-color: #dadada;
    margin-left: -13px !important;
    background: none;
    color: white;
  }

  .ant-menu-sub {
    height: auto;
  }

  a.nav-logout {
    color: #f46e65;
  }

  .view-all-message {
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    background-color: #efefef;
  }

  .ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
    display: block;
    color: white;
  }
}
