.container {
  height: 100%;

  .layout {
    height: 100%;
  }

  .ant-layout {
    background-color: transparent;
  }

  .ant-layout-sider {
    border-right: 1px solid #e9e9e9;

    &.ant-layout-sider-collapsed {
      .ant-menu-inline,
      .ant-menu-vertical {
        border-right: 1px solid #e9e9e9;
      }
    }

    .ant-menu-inline,
    .ant-menu-vertical {
      border-right-width: 0;
      background: none;
    }
  }

  .ant-layout-sider-trigger {
    background-color: rgba(0,0,0,.65);
  }

  .ant-layout-sider-zero-width-trigger {
    z-index: 999;
    background-color: rgba(0,0,0,.65);
  }

  .ant-layout-footer {
    border-top: 1px solid #e9e9e9;
  }

  .ant-breadcrumb {
    margin-left: 15px;
    padding: 15px 15px 5px;
  }
}

// .page-layout__nav-item--active {
//   font-weight: bold;
//   text-decoration: underline;
// }

.page-layout__viewport {
  height: 100%;
}

.page-layout__container {
}

.page-layout__wrapper {
  margin: 0 15px 15px;
}

.page-title {
  margin: 15px 5px 10px 0;
  padding-left: 15px;
  font-size: 20px;
}

.header {
  & + .ant-layout-has-sider {
    padding-top: 0;
    padding-left: 0;
  }
}
